/* GENERAL */

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: #e9ecef;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 2.5em;
  margin-top: 1em;
}

/* WIDGET */

/* Il widget è il contenitore che gestisce lo sfondo */
.widget {
  width: 450px;
  height: 180px;
  background-color: #ffffff; /* Sfondo base bianco per slide 2 e 3 */
  transition: background 0.6s ease; /* Transizione morbida del gradiente */
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

/* Gradiente attivo solo quando la classe è presente (Slide 0) */
.widget.day {
  background: linear-gradient(to left, #fff4cc 0%, #ffffff 35%);
}

.widget.night {
  background: linear-gradient(to left, #e6edff 0%, #ffffff 35%);
}

/* Colore icone basato sulla classe del widget padre */
.widget.day .main-sun {
  color: #ffd633;
}
.widget.night .main-sun {
  color: lightgray;
}

.slides-container {
  display: flex;
  transition: transform 0.4s ease-out;
  align-items: center;
}
.slide {
  min-width: 100%;
  box-sizing: border-box;
}
.main-card {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}
.big-temp {
  font-size: 70px;
  font-weight: bold;
  display: block;
  color: #2d3447;
}
.location {
  color: #b0b5c1;
}
.main-sun {
  font-size: 80px;
  color: #ffd633;
}
.main-other {
  font-size: 80px;
  color: lightgray;
}
.sub-card {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.hour-item,
.day-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.hour-item i,
.day-item i {
  color: #b0b5c1;
  font-size: 20px;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-bottom: 15px;
}
.dot {
  width: 5px;
  height: 5px;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
}
.dot.active {
  background: #2d3447;
  border-radius: 5px;
}

.sub-card {
  font-size: xx-small;
  display: flex;
  justify-content: space-between;
}

/* Container della temperatura per gestire il simbolo ° */
.temp-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #2d3447;
}

/* Il numero della temperatura */
.temp-val {
  font-size: 10px;
  font-weight: 700;
}

/* Il simbolo del grado più piccolo */
.temp-deg {
  font-size: 8px;
  margin-top: 2px;
  font-weight: 600;
}

/* Icone medie */
.hour-item i,
.day-item i {
  font-size: 18px;
  color: transparent; /* Rende l'interno trasparente */
  -webkit-text-stroke: 1.5px #b0b5c1; /* Crea il bordo grigio */
  margin: 8px 0;
}

/* Orario/Giorno */
.time-val,
.day-name {
  font-size: 13px;
  font-weight: 500;
  color: #2d3447;
}

/* AM/PM più piccoli e grigi */
.ampm-label {
  font-size: 8px;
  color: #b0b5c1;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 2px;
}
