/* GENERAL */

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: #e9ecef;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-top: 1em;
}

/* WIDGET */

.widget {
  width: 360px;
  overflow: hidden;
  border-radius: 20px;
}

.slides-container {
  display: flex;
  transition: transform 0.4s ease;
  width: 100%;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background: #f6f6f6;
  border-radius: 25px;
  flex-shrink: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

/* top-card */
.top-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.top-card h1 {
  font-size: 60px;
  margin: 0;
  color: #2d3748;
}

.top-card p {
  margin: 0;
  color: #888;
}

/* card per ore o giorni */
.card {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.hour,
.day {
  text-align: center;
  color: #555;
}

.hour div,
.day div {
  font-size: 22px;
  margin: 8px 0;
}

/* dots */
.dots {
  text-align: center;
  margin-top: 12px;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 5px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: #333;
  transform: scale(1.2);
}
